body {
    background-color: #ddd;
    box-sizing: border-box;
}
#logo {
    float: left;
    background-image: url("../Images/Recks_Techs_logo_300x80.png");
    background-repeat: no-repeat;
    width: 300px;
    height: 80px;
}
.nav-item  {
    color: white;
}
.nav-item:hover, .nav-item:active {
    color: rgb(77, 165, 211);
}
.nav-link {
    font-size: 1.3em;
    text-align: center;
}
footer {
    background-color: black;
    width: 100%;
    height: 100px;
}
